body {
  font-family: Minion, Sabon, Garamond;
}
div.main {
  margin-left: 22.5%;
  margin-right: 12.5%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50vw;
  height: 75vh;
}
div.main table {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}
div.main table td {
  border: 2px solid gray;
}
div.main table tbody td:nth-child(-n+4) {
  border-top: 0;
}
div.main table tbody td:nth-child(n+3)  {
  border-bottom: 0;
}
div.main table tbody td:nth-child(2n+2) {
  border-left: 0;
}
div.main table tbody td:nth-child(2n-2) {
  border-right: 0;
}
div.currentTimeOfDay {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
div.about {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
svg.computer {
  position: absolute;
  top: 5%;
  left: 5%;
}
svg.computer:hover {
  opacity: 0.5;
}
svg.human {
  position: absolute;
  top: 5%;
  right: 5%;
}
svg.human:hover {
  opacity: 0.5;
}
.evening {
  background-color: #301860;
}
.afternoon {
  background-color: #FFD700;
}
.morning {
  background-color: #FF7E00;
}
.midnight {
  background-color: #000000;
}
.cell:hover{
  background-color: #d3d3d3;
}